@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bannerIcon {
        @apply inline-flex items-center justify-center w-16 h-16 text-xl text-gray-200 transition-all duration-300 bg-black bg-opacity-25 rounded-md cursor-pointer shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 hover:text-designColor;
    }

    .resumeLi {
        @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
    }

    .bgOpacity {
        @apply bg-black bg-opacity-40;
    }
}

.active {
    color: white;
    /* text-decoration: underline #ff014f; */
    padding: 2px 5px;
    border-bottom: 2px solid #ff014f;
}